<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../hijo-uno/hijo-uno.html">
<link rel="import" href="../hijo-dos/hijo-dos.html">

<dom-module id="padre-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <center><h2>Titulo</h2></center>
    <p>Presiona algun boton para poder visualizar la lista o tablas</p>
    <template is="dom-if" if="{{listaVisible}}">
      <div>
        <hijo-uno></hijo-uno>
      </div>
    </template>
    <template is="dom-if" if="{{tablaVisible}}">
      <div>
        <hijo-dos></hijo-dos>
      </div>
    </template>
    <template is="dom-if" if="{{botonesVisibles}}">
      <paper-button on-click="_evento1">Lista</paper-button>
      <paper-button on-click="_evento2">Tabla</paper-button>
    </template>
  </template>

  <script>
    /**
     * `padre-element`
     * componente padre 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    // var a;
    var b;
    class PadreElement extends Polymer.Element {
      static get is() { return 'padre-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'padre-element'
          },
          listaVisible:{
            type: Boolean,
            value: false
          },
          tablaVisible:{
            type: Boolean,
            value: false
          },
          botonesVisibles:{
            type: Boolean,
            value: true
          }
        };
      }
      _evento1(e){
        if(e.detail==1){
          this.listaVisible=true
          this.botonesVisibles=false
        }
      }
      _evento2(e){
        if(e.detail==1){
          this.tablaVisible=true
          this.botonesVisibles=false
        }
      }
    }

    window.customElements.define(PadreElement.is, PadreElement);
  </script>
</dom-module>
